 body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      scroll-behavior: smooth;
      background-color: #dcdcdc;
    }
    .search-box {
      display: flex;
      border-radius: 50px;
      overflow: hidden;
      width: 400px;
      max-width: 90%;
      background-color: #dcdcdc;
    }

    .search-box input[type="text"] {
      border: none;
      padding: 15px 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 30px 0 0 30px;
      outline: none;
      background-color: #dcdcdc;
    }

    .search-box button {
      background-color: #ffb100; 
      border: none;
      padding: 0 20px;
      cursor: pointer;
      border-radius: 0 50px 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-box button i {
      color: white;
      font-size: 18px;
    }

    nav {
      background-color: #006400;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 999;
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: right;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      margin: 0 20px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 15px;
    }

    nav ul li a:hover {
      background-color: #dcdcdc;
    }
    .nav_home_logo{
      width: 13%;
      max-width: 5%;
      max-height: 100%;
      display: block;
      margin: 0 auto 20px;
    }

    section {
      padding: 100px 20px;
      min-height: 100vh;
    }

     #home {
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      height: 50vh;
      background-image: url('home background.jpg'); 
      background-size:cover;       
      background-position: center; 
      background-repeat: no-repeat; 
      font-family: Arial, sans-serif;
      color: white;
    }

    #about {
      background-color: #e8e8e8;
    }

    #products {
      background-color: #fdf6e3;
    }

    #login {
      background-color: #e0f7fa;
    }

    #cart {
      background-color: #ffe0b2;
    }

    h1, h2 {
      margin-top: 0;
    }

    form{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    padding: 20px;
  }
  label{
      font-weight: bold;
  }

  input[type='text'],
  input[type='email'],
  textarea{
      width: 100%;
      padding: 8px;
      margin: 10px 0px 20px;
      border-radius: 5px;
      box-sizing: border-box;
      border: 1px solid #ddd;
  }

/* Success Page Styling */
  .success-message{
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
      padding: 20px;
  }
  .success-message p{
      margin: 20px 0;
  }
  .btn{
      font-size: 18px;
      outline: none;
  }
  a{
      text-decoration: none;
      color: #4a90e2;
  }
  .head-1{
      color: #006400;
  }
  img{
      width: 100px;
  }