{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk to Us</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <form action="{url 'contact'}" method="post">
        <h1 class="head-1">Talk to Us</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn">Send</button>
    </form>
   
</body>
</html>